
<div class="new_upperBar">
  <div class="dropdown">
    <span id="logo"><img src="/assets/iconBrowser2.png" alt="this is an menu opening icon" id="menu_button">&nbsp;<a href="/" id="logo-link">Turpor.com</a></span>
  </div>
  <a href="/" id="home_button"><img src="/assets/iconHome.svg" alt="this is a homepage icon"></a>


</div>
<div class="new_colorBar">
  <span id="color1"></span>
  <span id="color2"></span>
  <span id="color3"></span>
  <span id="color4"></span>
</div>
