<div id="searchBarArea">
  <form id="contact_form0" action="/" method="post">
    <label for="input1">Kelime Arama - Consulte o Dicionário </label><br>
    <span><input class="inputAreas" type="text" name="input1" id="mainInput" autofocus required>&nbsp;&nbsp;&nbsp;
      <button class="commentButton">Ara-Pesquisar</button></span>
  </form>
</div>
