<form id="contact_form" action="/test15" method="post">
  <label for="input1">Search a word here</label><br>
  <input class="inputAreas" type="text" name="input1" id="input1" required><br>
  <button id="commentButton">Search</button>
</form>
